/* References >>> 
  1) https://fonts.google.com/
  2) https://www.w3schools.com/css/css3_fonts.asp
  3) https://www.reddit.com/r/identifythisfont/comments/1d80ljo/what_font_or_close_enough_font_is_weather/
  4) https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element
*/ 

// Fonts >>>
@font-face {
  font-family: fontWeather;
  src: url(assets/fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf);
  font-weight: bold;
}
@font-face {
  font-family: fontPaint;
  src: url(assets/fonts/FingerPaint-Regular.ttf);
  font-weight: bold;
}

/// Colors >>>
$primary-color: #f7f7f7;
$secondary-color: #232931;
$header-color: lightgray;
$text-color: whitesmoke;
$accent-color: #ec6e4c; 

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $secondary-color;
  color: $text-color;
}
#MainApp {
 z-index: 100;
}
// .ContentSection {
//   z-index: 5;
// }
#backgroundImg {
  position: fixed;
  height: 100%;
  width: 500px;
  top: 0;
  right: 0;
  z-index: 0;
}
nav {
  position: fixed;
  top: 0;
  right: 0;

  header {
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #2b5cab;
    border-bottom-left-radius: 20px;

    #firstAlertContainer {
      display: flex;
      margin: 0;
      padding: 0;
      overflow-x: hidden;

      h1 {
        color: white;
        font-weight: bold;
        background-color: #2b5cab;
        font-family: fontWeather;
        font-size: 1rem;
      }
      span {
        position: absolute;
        font-size: 90px;
        top: -26px;
        right: 102.8px;
        text-decoration: none;
        z-index: 1;
      }
      #alertHeader {
        background-color: #ec6e4c;
        border-top-left-radius: 18px;
        transform: translateX(3px);
        
      }
    }
    hr {
      display: block;
      border: 0;
      border-top: 6px solid white;
      margin: 0;
      padding: 0;
      font-size: 1rem;
    }
    h2 {
      font-family: fontPaint;
      font-weight: bold;
      background-color: #232931;
      font-size: 1.0rem;
      text-align: center;
      padding: 10px;
      border-bottom-left-radius: 20px;
    }
  }
  #currentWeather {
    position: absolute;
    right: 50px;

    div {
      width: 250px;
      
      h1 {
        font-size: 1.2rem;
        font-family: fontPaint;
        color: $secondary-color;
        width: 300px;
        font-weight: bold;

      }
      section {
        font-size: 2rem;
        font-family: fontPaint;
        font-style: oblique;
        font-weight: 600;
        color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
          
        }
      }
      p {
        color: gray;

        strong {
          font-size: 1.6rem;
          color: #232931;
          opacity: .7;
          // font-family: fontPaint;
          font-weight: bold;
        }
      }
    }
  }
}
h1 {
  font-size: 1.7rem;
  padding: 1rem;
  text-align: left;
  font-family:'Courier New', Courier, monospace;
  letter-spacing: 3px;
  color: $header-color;
}
div {
  padding: 1rem;
  text-align: center;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;

  strong {
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
  }
}
p {
  font-style: bold;
  padding: .5rem;
}
section {
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 1rem;
  padding: 2rem;
  padding-top: 0;
  text-align: left;
}

span {
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
}